@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    font-family: "Montserrat", sans-serif;
}

.flex{
    display: flex;
}

.interface{
    /* max-width: 1280px; */
    margin: 0 auto;
}

body{
    overflow-x: hidden;
}

/* HEADER INIT */

section.header{
    margin-top: -95px;
    background-image: url(https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    
}

.overlay-background{
    height: 700px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #2C364BD1 0%, #00000094 100%);
}

header.header-menu{
    z-index: 99;
    padding: 10px 0px;
    background-color: transparent;
    position: relative;
}

nav.nav-items a{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 1.4em;
    padding: 12px 0;
}

.info-header-container{
    position: relative;
    margin-left: auto;
    margin-right: auto; 
    display: flex   ;
    z-index: 98;
    top: 250px;
    left: 75px;
}

.info-header-container .info-header{
    padding: 10px;
}

.info-header h1{
    color: #fff;
    font-weight: 700;
    line-height: 1.4em;
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
}

.info-header h2{
    color: #fff;
    font-weight: 500;
    line-height: 1.4em;
    font-size: 31px;
    font-family: "Montserrat", sans-serif;
}

.Button-Header{
    position: relative;
    top: -300px;
    left: 75px;
    z-index: 99;
}

.Button-Header button{
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 1.4em;
    color: #000;
    background-color: transparent;
    background-image: linear-gradient(90deg, #cec6c6 0%, #fff 100%);
    border-style: none;
    border-radius: 7px 7px 7px 7px;
    padding: 12px 20px 12px 20px;
}

/* Header finish */

/* Sobre init */

section.sobre{
    padding: 80px 4%;
    left: 400px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

section.sobre .container{
    left: 1px;
}

.txt-sobre p{
    text-align: justify;
    position: relative;
    width: 600px;
}

.logo-sobre{
    position: absolute;
    top: 715px;
    left: 23%;
    transform: translateX(-50%);
}

.img-sobre img{
    height: 300px;
    width: 500px ;
    border-radius: 20px;
}
